$light-bg: #f8f8f8;

$orange-bg: #ff9f06;
$yellow-bg: #ffd40d;
$orange-color: #ffc28c;
$orange-color_2: #ffa352;
$orange-link: #ffb575;

$green-color: #7fa607;

$info-color: #4e4e4e;
$grey-color: #a3a3a3;
$grey-color_2: #cfcfcf;
$grey-color_3: #5b5b5b;
$grey-color_4: #898a8a;
$grey-color_5: #666666;

